---
layout: blog
published: true
category : indexing
category_layout : paginated_indexing.html
---


<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

<div class="pagination-centered">
  <ul class="pagination">
{% for post in site.categories['indexing'] %}
  {% assign post_count =  post_count|plus:1 %}
  {% if post_count == 1 %}
    <li class="current"><a href="">1</a></li>
  {% else %}
    <li><a href="{{site.baseurl}}/indexing/indexing{{post_count}}">{{post_count}}</a></li>
  {% endif %}
{% endfor %}
  </ul>
</div>