---
layout: documentation
published: true
---
{% for item in site.posts limit:1000 %}
{% if item.is_release == true %}
     <div>
		<h2>{{item.release_no}}:</h2>
		<a href="https://oss.sonatype.org/content/repositories/releases/org/greencheek/related/related-web-searching/{{item.release_no}}/related-web-searching-{{item.release_no}}.war">searching.war</a> | <a href="https://oss.sonatype.org/content/repositories/releases/org/greencheek/related/related-web-indexing/{{item.release_no}}/related-web-indexing-{{item.release_no}}.war">indexing.war</a>
		<hr/>
     </div>
{% endif %}
{% endfor %}
