---
layout: main
published: true
sitemap_include : false
title: Relateit.io
desc: Application that provides a simple way to relate items together.  The most common use of this is show customers a 'Also Bought With' section on a web page
date: 2014-02-18
---
    <style type="text/css">
      pre {
      	overflow: scroll;
      }
    </style>
{% for item in site.posts limit:1000 %}
	{% if item.is_main_overview == true %}
	<div class="row">
       <div class="large-12 columns">
      	{{item.content}}
        <hr>
      </div>
    </div>	
	{% endif %}
	{% if item.is_indexing_overview == true %}
		{% assign indexing_overview_title = item.title %}
		{% assign indexing_overview_content = item.content %}
	{% endif %}
	{% if item.is_searching_overview == true %}
		{% assign searching_overview_title = item.title %}
		{% assign searching_overview_content = item.content %}
	{% endif %}	
{% endfor %}

	<div class="row">	    
	    <div class="large-12 columns">	      
	      <div class="row">
	        <div class="large-6 columns">
	          <h4>{{indexing_overview_title}}</h4>
	          {{indexing_overview_content}}
	        </div>
	        <div class="large-6 columns">
	          <h4>{{searching_overview_title}}</h4>
	          {{searching_overview_content}}
	        </div>
	      </div>
	    </div>
  	</div>
