    <div class="large-3 medium-4 columns">
      <div class="hide-for-small">
        <div class="sidebar">             
          <nav>
            <ul class="side-nav">
              {% assign post_count = 0 %}
              {% for post in site.categories['blog'] %}              
              {% assign post_count = post_count|plus:1 %} 
              <li>
                <a href="{{site.baseurl}}/blog/blog{{ post_count }}">{{ post.title }}</a>
                <p>{{ post.excerpt }}</p>
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div> 
      </div>
    </div>