<header class="inner">
<style>#forkongithub a{background:#000;color:#fff;text-decoration:none;font-family:arial, sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:#060;color:#fff;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:800px){#forkongithub{position:absolute;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;}#forkongithub a{width:200px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}}</style><span id="forkongithub"><a href="https://github.com/tootedom/related">Source on GitHub</a></span>
	<!--<span style="position:absolute;display:block;top:0;left:0;overflow:hidden;"> -->
          <img src="{{site.baseurl}}/images/relateitlogo.png" alt="Relate It" style="border:none;box-shadow: 0 0 0px;-webkit-box-shadow: 0 0 0px #ebebeb; -moz-box-shadow: 0 0 0px #ebebeb; -o-box-shadow: 0 0 0px #ebebeb; -ms-box-shadow: 0 0 5px #ebebeb;" />
          <h2 id="project_tagline">Tracks Frequently Related Items</h2>

{% assign current = page.url | downcase | split: '/' %}

<nav>
  <ul>
    <li><a href='{{site.baseurl}}' {% if current[1] == 'about' %}class='current'{% endif %}>Home</a></li>
    <li><a href='{{site.baseurl}}/downloads.html' {% if current[1] == 'about' %}class='current'{% endif %}>Downloads</a></li>
  </ul>
</nav>
        </header>
