<header class="inner">

	<nav>	  
	  <div class="row">	  	
	    <div class="large-12 columns">	      
	      <div class="nav-bar right" style="padding-top: 30px">
	       <ul class="button-group">
	         <li><a href='{{site.baseurl}}/index.html' class="radius small button">Home</a></li>	         
	         <li><a href='{{site.baseurl}}/indexing/index.html' class="radius small button">Indexing</a><br/></li>
	         <li><a href='{{site.baseurl}}/searching/index.html' class="radius small button">Searching</a><br/></li>							 
	         <li><a href='{{site.baseurl}}/configuration/index.html' class="radius small button">Configuration</a></li>
	         <li><a href='{{site.baseurl}}/blog/index.html' class="radius small button">Blog</a></li>
	         <li><a href='{{site.baseurl}}/downloads.html'  class="radius small button">Downloads</a></li>         
	        </ul>
	      </div>
	      <h1><a href='https://github.com/tootedom/related'><img src="{{site.baseurl}}/images/relateitlogo.png"></a></h1>
	      <hr />
	    </div>
	  </div>
	</nav>	
</header>
