    <div class="pagination-centered">
      <ul class="pagination">
      
      {% assign post_count = 0 %}
      {% for postinfo in site.categories['searching'] %}
        {% assign post_count = post_count|plus:1 %} 
        {% if "#post_count == paginator.page %}
        <li class="current"><a href="{{site.baseurl}}/searching/searching{{post_count}}">{{post_count}}</a></li>
        {% else %}
        <li><a href="{{site.baseurl}}/searching/searching{{post_count}}">{{post_count}}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>