<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <FastFile name="FastFile" fileName="indexing.log" immediateFlush="false" append="false">
            <PatternLayout>
                <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
        </FastFile>
    </appenders>
    <loggers>
        <root level="debug" includeLocation="false">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>