---
layout: blogging
published: true
category: blog
title: Relateit.io Tech Blog
desc: List of technical posts relating to the use of the Related Items application
activeCategory: blog
category_layout: paginated_blog.html
---

{% assign categoryName = 'blog' %}
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

{% include pagination.html %}
