---
layout: documentation
published: true
category : configuration
title : ES Connections
desc : The various ways of connecting the indexing and searching webapps to an Elasticsearch cluster 
activeCategory : configuration
category_layout : paginated_config.html
---

{% assign categoryName = 'configuration' %}
{% include subnav.html %}
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

{% include pagination.html %}
